<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <!-- <p>
        <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p> -->

      <!-- <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p> -->
      <!-- <p>Copyright © 2017 Portfolio Supakorn Thongtra. All Rights Reserved.</p> -->
      <p>Created by <img src="/assets/img/footer/angular-card.png" height="120" width="240" style="vertical-align: middle;" alt=""> and <img style="vertical-align: middle;" src="/assets/img/footer/bulma-logo.png" height="40" width="160" alt="">.</p>
      <div>
        <img src="/assets/img/footer/angular-card.png" height="120" width="240"  alt="">
      </div>
      <div>
        <img src="/assets/img/footer/bulma-logo.png" height="40" width="160" alt="">
      </div>
    </div>
  </div>
</footer>
