<nav class="nav">
  <div class="nav-left">
    <!-- <a class="nav-item">
      <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
    </a> -->
  </div>

  <div class="nav-center nav-menu">
    <a class="nav-item">
      <!-- <span class="icon">
        <i class="fa fa-github"></i>
      </span> -->
      <p class="menu">HOME</p>
    </a>
    <a class="nav-item">
      <p class="menu">SERVICES</p>
    </a>
    <a class="nav-item">
      <p class="menu">PORTFOLIO</p>
    </a>
    <a class="nav-item">
      <p class="menu">ABOUT ME</p>
    </a>
    <a class="nav-item">
      <p class="menu">CONTACT</p>
    </a>

  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">

  </div>
</nav>
