.nav {
  background-color: #2E2E2E;
  /*padding: 13.5px 0px;*/
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 65px;
}

.nav-toggle {
  height: 65px;

}

.menu {
  margin: 0px 20px 0px 40px;
  color: white;
  font-size: 14px;
  border-bottom: 2px solid #2E2E2E;

}

.menu:hover {
  color: #797c79;
}

.menu-mobile {
  /*margin: 0px 20px 0px 40px;*/
  color: white;
  /*font-size: 14px;*/
  /*border-bottom: 2px solid #2E2E2E;*/

}

.menu-mobile:hover {
  color: #797c79;
}


.color-white {
  background-color: white !important;
}

.nav-toggle:hover {
  background-color: #2E2E2E !important;
}

.active-menu {
  /*font-size: 18px;*/
  /*border-bottom: 2px solid white;*/
}
