<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <!-- <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo"> -->
      <!-- <i class="fa fa-twitter" aria-hidden="true" style="font-size: 30px;"></i> -->
    </a>
  </div>

  <div class="nav-center nav-menu is-hidden-mobile">
    <a class="nav-item menu">
      <!-- <sspanan class="icon">
        <i class="fa fa-github"></i>
      </sspanan> -->
      HOME
    </a>
    <a class="nav-item menu">
      SERVICES
    </a>
    <a class="nav-item menu">
      PORTFOLIO
    </a>
    <a class="nav-item menu">
      ABOUT ME
    </a>
    <a class="nav-item menu">
      CONTACT
    </a>

  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span class="color-white"></span>
    <span class="color-white"></span>
    <span class="color-white"></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu is-active">
    <a class="nav-item is-hidden-tablet">
      <!-- <sspanan class="icon">
        <i class="fa fa-github"></i>
      </sspanan> -->
      HOME
    </a>
    <a class="nav-item is-hidden-tablet">
      SERVICES
    </a>
    <a class="nav-item is-hidden-tablet">
      PORTFOLIO
    </a>
    <a class="nav-item is-hidden-tablet">
      ABOUT ME
    </a>
    <a class="nav-item is-hidden-tablet">
      CONTACT
    </a>
  </div>
</nav>
