.image-bg {
  /*height: 100vh;*/
  min-height: 100vh;
  max-height: auto;
  margin: 0px 0px;
  background-color: white;
  /*opacity: 0.85;*/
  /*background-size: cover;
  background-attachment: fixed;
  background-position: center center;*/

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .image-bg {
    /*height: 100%;*/
    min-height: 100vh;
    max-height: auto;
    margin: 0px 0px;
    /*opacity: 0.85;*/
    /*background-size: cover;
    background-attachment: fixed;
    background-position: center center;*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

h2 {
  font-size: 30px;
}

.example-title {
    text-align: center;
    padding: 3em 0;
}

a {
  color: grey;
}


.arm-pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;

}

.space {
  margin-bottom: 3rem;
}
