<!-- <div class="image" [ngStyle]="{'background-image':'url(' + '/assets/img/coffee3.gif' + ')'}"> -->
<div class="image">

  <!-- <p>experience</p> -->

  <div class="section main">
    <div class="container">
      <div class="columns">

        <div class="column is-4">
          <div class="panel">
            <div class="section">
                <p class="has-text-centered"><i class="fa fa-camera-retro icon-block"></i></p>
              <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
              <br>
                <p class="has-text-centered"><a class="button is-info is-outlined">Action</a></p>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="panel">
            <div class="section">
              <p class="has-text-centered"><i class="fa fa-bar-chart icon-block"></i></p>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
              <br>
              <p class="has-text-centered"><a class="button is-info is-outlined">Action</a></p>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="panel">
            <div class="section">
              <p class="has-text-centered"><i class="fa fa-cloud icon-block"></i></p>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
              <br>
              <p class="has-text-centered"><a class="button is-info is-outlined">Action</a></p>
            </div>
          </div>
        </div>

      </div>

      <div class="columns">

        <div class="column is-4">
          <div class="panel">
            <div class="section">
                <p class="has-text-centered"><i class="fa fa-camera-retro icon-block"></i></p>
              <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
              <br>
                <p class="has-text-centered"><a class="button is-info is-outlined">Action</a></p>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="panel">
            <div class="section">
              <p class="has-text-centered"><i class="fa fa-bar-chart icon-block"></i></p>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
              <br>
              <p class="has-text-centered"><a class="button is-info is-outlined">Action</a></p>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="panel">
            <div class="section">
              <p class="has-text-centered"><i class="fa fa-cloud icon-block"></i></p>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
              <br>
              <p class="has-text-centered"><a class="button is-info is-outlined">Action</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
