<!-- <div class="image" [ngStyle]="{'background-image':'url(' + '/assets/img/coffee3.gif' + ')'}"> -->
<div class="image">

  <!-- <p>experience</p> -->
  <div class=" is-12 example-title">
      <h2 class="hvr-grow">Experience</h2>
  </div>
  <div class="columns is-mobile example-centered">

          <div class="column is-10 is-offset-1">

              <ul class="timeline timeline-centered">


                  <li class="timeline-item period">
                      <div class="timeline-info"></div>
                      <div class="timeline-marker"></div>
                      <!-- <div class="timeline-content">
                          <h2 class="timeline-title">April 2016</h2>
                      </div> -->
                  </li>
                  <li class="timeline-item">
                      <div class="timeline-info">
                          <span [ngsReveal]="{reset: false}">2012 - 2016</span>
                      </div>
                      <div class="timeline-marker"></div>
                      <div class="timeline-content" [ngsReveal]="{reset: false, origin: 'left', opacity: 1, mobile: true, viewFactor: 0.2}">
                          <h3 class="timeline-title">Prince of Songkla University</h3>
                          <p>Bechelor of Science</p>
                          <p>Information and Communication Technology</p>
                          <p>(Second Class Honors)</p>
                          <p>GPA : 3.52</p>
                      </div>
                  </li>
                  <li class="timeline-item">
                      <div class="timeline-info">
                          <span [ngsReveal]="{reset: false}">2014 - 2015</span>
                      </div>
                      <div class="timeline-marker"></div>
                      <div class="timeline-content" [ngsReveal]="{reset: false, origin: 'right', opacity: 1, mobile: true, viewFactor: 0.2}">
                          <h3 class="timeline-title">Prince of Songkla University (Teaching Assistant)</h3>
                          <p>Operating Systems</p>
                          <p>Object-Oriented Programming and Applications</p>
                      </div>
                  </li>
                  <li class="timeline-item">
                      <div class="timeline-info">
                          <span [ngsReveal]="{reset: false}">2015 ( 1 June - 31 July)</span>
                      </div>
                      <div class="timeline-marker"></div>
                      <div class="timeline-content" [ngsReveal]="{reset: false, origin: 'left', opacity: 1, mobile: true, viewFactor: 0.2}">
                          <h3 class="timeline-title">Nectec of NSTDA (Internship)</h3>
                          <p>Healthcare Systems and Data Analytics Lab </p>
                      </div>
                  </li>
                  <li class="timeline-item">
                      <div class="timeline-info">
                          <span [ngsReveal]="{reset: false}">2016 - Present</span>
                      </div>
                      <div class="timeline-marker"></div>
                      <div class="timeline-content" [ngsReveal]="{reset: false, origin: 'right', opacity: 1, mobile: true, viewFactor: 0.2}">
                          <h3 class="timeline-title">Vertice International</h3>
                          <p>Web Developer (front-end developer)</p>
                      </div>
                  </li>
                  <li class="timeline-item period">
                      <div class="timeline-info"></div>
                      <!-- <div class="timeline-marker"></div> -->
                  </li>
              </ul>
          </div>
      </div>

</div>
