<!-- <div class="image" [ngStyle]="{'background-image':'url(' + '/assets/img/subway.gif' + ')'}"> -->
<div class="image">
  <div class="item" ngsReveal>..555</div>

  <div class="itemset" ngsRevealSet [ngsSelector]="'.item'">
    <div class="item item1">Item 1</div>
    <div class="item item2">Item 2</div>
    <div class="item item3">Item 3</div>
    <div class="item item4">Item 4</div>
    <div class="item5">Item 5 (will not be animated)</div>
</div>

<div class="itemset" [ngsRevealSet]="{ reset:true}" [ngsInterval]="50" [ngsSelector]="'.item'">
     <div class="item item1">Item 1</div>
     <div class="item item2">Item 2</div>
     <div class="item item3">Item 3</div>
     <div class="item item4">Item 4</div>
     <div class="item5">Item 5 (will not be animated)</div>
 </div>
    <!-- <div class="test" [@visibilityChanged]="visibility" >
      <p>Can you see me? I should fade in or out...</p>
    </div>

    <div class="test" [@visibilityChanged]="visibility" >
      <p>Can you see me? I should fade in or out...</p>
    </div>

    <div [@test1] (mouseover)="onMouse()" (mouseleave)="onMouse()" *ngIf="check">
      <p style="font-size:30px">Tettttttttttt</p>
    </div>

    <button (click)="fadeClick()">Fade</button> -->
    <div class=" is-12 example-title">
        <h2 class="hvr-grow">Technology</h2>
    </div>

    <div class="section main">
      <div class="container">
        <div class="columns">

          <div class="column is-4">
            <div class="panel">
              <div class="section">
                  <p class="has-text-centered"><i class="fa fa-camera-retro icon-block"></i></p>
                <br>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                <br>
                  <p class="has-text-centered"><a class="button is-info is-outlined">Action</a></p>
              </div>
            </div>
          </div>

          <div class="column is-4">
            <div class="panel">
              <div class="section">
                <p class="has-text-centered"><i class="fa fa-bar-chart icon-block"></i></p>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                <br>
                <p class="has-text-centered"><a class="button is-info is-outlined">Action</a></p>
              </div>
            </div>
          </div>

          <div class="column is-4">
            <div class="panel">
              <div class="section">
                <p class="has-text-centered"><i class="fa fa-cloud icon-block"></i></p>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                <br>
                <p class="has-text-centered"><a class="button is-info is-outlined">Action</a></p>
              </div>
            </div>
          </div>

        </div>

        <div class="columns">

          <div class="column is-4">
            <div class="panel">
              <div class="section">
                  <p class="has-text-centered"><i class="fa fa-camera-retro icon-block"></i></p>
                <br>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                <br>
                  <p class="has-text-centered"><a class="button is-info is-outlined">Action</a></p>
              </div>
            </div>
          </div>

          <div class="column is-4">
            <div class="panel">
              <div class="section">
                <p class="has-text-centered"><i class="fa fa-bar-chart icon-block"></i></p>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                <br>
                <p class="has-text-centered"><a class="button is-info is-outlined">Action</a></p>
              </div>
            </div>
          </div>

          <div class="column is-4">
            <div class="panel">
              <div class="section">
                <p class="has-text-centered"><i class="fa fa-cloud icon-block"></i></p>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.</p>
                <br>
                <p class="has-text-centered"><a class="button is-info is-outlined">Action</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

</div>
