<!-- <div (scroll)="onScroll($event)">

</div> -->
<div (scroll)="onScroll($event)">

<app-navbar></app-navbar>
<app-home id="home"></app-home>
<app-experience id="experience"></app-experience>
<app-technology id="technology"></app-technology>
<app-aboutme id="aboutme"></app-aboutme>
<!-- <app-contact id="contact"></app-contact> -->
<!-- <app-mobile-test></app-mobile-test> -->
<!-- <app-superman-loading *ngIf="check_loading"></app-superman-loading> -->
<app-footer></app-footer>

</div>

<router-outlet></router-outlet>
