.image {
  /*height: 100vh;*/
  min-height: 100vh;
  max-height: auto;
  margin: 0px 0px;
  background-color: white;
  opacity: 0.85;
  /*background-size: cover;
  background-attachment: fixed;
  background-position: center center;*/

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  /*padding: 20% 0% 0% 50%;*/
  margin-left: 45%;
  margin-top: 15%;
  position: absolute;
  font-size: 4rem;
  color: white;
  display: inline-block; /* Enable widths */
}

@media only screen and (max-width: 768px) {
  .image {
    /*height: 100%;*/
    min-height: 100vh;
    max-height: auto;
    margin: 0px 0px;
    opacity: 0.85;
    /*background-size: cover;
    background-attachment: fixed;
    background-position: center center;*/

    /* Create the parallax scrolling effect */
    background-attachment: local;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .name {
    /*padding: 20% 0% 0% 50%;*/
    margin-left: 20%;
    margin-top: 25%;
    position: absolute;
    font-size: 2.5rem;
    color: white;
    display: inline-block; /* Enable widths */
  }
}
