.type-carousel {
  /*padding: 20% 0% 0% 50%;*/
  margin-left: 45%;
  margin-top: 15%;
  position: absolute;
}

.position {
  font-size: 3.5rem;
  color: white;
  display: inline-block; /* Enable widths */
}

@media only screen and (max-width: 768px) {
  .type-carousel {
    /*padding: 20% 0% 0% 10%;*/
    margin-left: 20%;
    margin-top: 35%;
  }
  .position {
    font-size: 2.5rem;
  }
}
